{% extends 'base/base.html' %}

{% block content %}
    <h3>Listado de componentes</h3>
    <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Especificaciones</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
            <th scope="col">Aparatos</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for componente in componentes %}
              <td>{{componente.id}}</td>
              <td>{{componente.nombre}}</td>
              <td>{{componente.especificaciones}}</td>
              <td>{{componente.cantidad}}</td>
              <td>{{componente.precio}}</td>
              <td>{{componente.aparatos.descripcion}}</td>
            {% endfor %}
          </tr>
          
        </tbody>
      </table>
{% endblock %}