{% extends 'base/base.html' %}

{% block content %}
    <h3 style="text-align: center; margin-top: 20px;">Listado de tipos de Electrodomesticos</h3>
    <h1 class="pull-right" style="text-align: center;">
        <a href="{% url 'tipos_ele:teCreate' %}" class="btn btn-primary pull-right">Adicionar</a>
    </h1>

    <table class="table table-bordered table-sm" style="width: 90%; margin: 0 auto;">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Caracteristicas</th>
            <th scope="col">Aparatos</th>
          </tr>
        </thead>
        <tbody>
        {% for te in tes %}
          <tr>
              <td>{{te.id}}</td>
              <td>{{te.nombre}}</td>
              <td>{{te.caracteristicas}}</td>
              <td>{{te.aparatos.descripcion}}</td>
              <td>
                <a class="btn btn-warning btn-xs" href="{% url 'tipos_ele:teEdit' te.id %}">
                    <i class="fas fa-edit"></i>
                </a>
                <a class="btn btn-danger btn-xs" href="{% url 'tipos_ele:teEliminar' te.id %}">
                    <i class="fas fa-trash"></i>
                </a>
              </td>
        {% endfor %}
          </tr>
          
        </tbody>
      </table>
{% endblock %}